<a href="https://colab.research.google.com/github/Pratyushk2003/railwaysystem/blob/main/CreditCardFraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [50]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [51]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [52]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [53]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [54]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [55]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [56]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [57]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [58]:
# statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [59]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [60]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [61]:
#Under-Sampling

#Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions
legit_sample = legit.sample(n=492)

In [62]:
#Concatenating two DataFrames
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [63]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
103014,68460.0,1.312591,0.077230,-1.292059,-0.483715,2.139937,3.181316,-0.505961,0.805039,-0.073990,...,-0.343094,-1.148139,0.095887,0.946086,0.369966,0.110699,-0.021706,0.023518,1.29,0
14878,26158.0,0.484848,-1.364234,0.335766,0.301002,-0.829953,0.618094,-0.194517,0.276101,0.416073,...,0.229603,0.059621,-0.231033,-0.206935,-0.051102,1.022669,-0.093824,0.047524,335.06,0
185617,126746.0,-1.274842,0.223509,2.398390,-0.207527,-0.420039,0.160944,0.149833,0.264631,0.891095,...,-0.229017,-0.380267,-0.221797,-0.003423,0.379968,0.268898,0.169851,0.153892,69.36,0
31735,36494.0,-1.912846,1.574356,0.722610,-1.529696,-0.309467,-0.289154,-0.096268,-0.367466,0.003511,...,0.937508,-0.200459,0.137383,0.020238,-0.436887,0.708079,-0.664223,0.111348,0.77,0
66276,51969.0,-1.089089,-0.008786,2.261397,-1.319301,0.829718,-0.114515,0.971653,-0.564447,0.140679,...,-0.315173,-0.475053,-0.045268,-0.483725,0.079715,0.647520,-0.787389,-0.577535,22.12,0

In [65]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [66]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [67]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,92908.906504,0.070067,-0.017672,0.016727,-0.089599,-0.009189,-0.069998,0.101181,-0.015562,-0.035758,...,0.005375,-0.037662,0.035080,-0.010245,-0.012807,0.011354,-0.013539,0.003804,0.016909,89.116911
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [68]:
#Splitting the data into Features & Targets
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [69]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
103014   68460.0  1.312591  0.077230 -1.292059 -0.483715  2.139937  3.181316
14878    26158.0  0.484848 -1.364234  0.335766  0.301002 -0.829953  0.618094
185617  126746.0 -1.274842  0.223509  2.398390 -0.207527 -0.420039  0.160944
31735    36494.0 -1.912846  1.574356  0.722610 -1.529696 -0.309467 -0.289154
66276    51969.0 -1.089089 -0.008786  2.261397 -1.319301  0.829718 -0.114515
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
103014 -0.505961  0.805039 -0.073990  ...  0.031329 -0.343094 -1.148139
14878  -0.194517  0.276101  0.416073  ...  0.508372  0.229603  0.059621
185617  0.149833  0.264631  0.891095  ...  0.046415 -0.229017 -0.380267
31735  -0.096268 -0.367466  0.003511  ... -0.389811  0.937508 -0.200459
66276   0.971653 -0.564447  0.140679  ...  0.066290 -0.315173 -0.475053
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
103014  0.095887  0.946086  0.369966  0.110699 -0.021706  0.023518    1.29
14878  -0.231033 -0.206935 -0.051102  1.022669 -0.093824  0.047524  335.06
185617 -0.221797 -0.003423  0.379968  0.268898  0.169851  0.153892   69.36
31735   0.137383  0.020238 -0.436887  0.708079 -0.664223  0.111348    0.77
66276  -0.045268 -0.483725  0.079715  0.647520 -0.787389 -0.577535   22.12
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [70]:
print(Y)

103014    0
14878     0
185617    0
31735     0
66276     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [71]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [72]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [73]:
#Model Training using Logistic Regression
model = LogisticRegression()

In [74]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [75]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [76]:
print(X_train)

            Time         V1        V2         V3        V4         V5  \
100623   67571.0  -0.758469 -0.045410  -0.168438 -1.313275  -1.901763
131724   79715.0   1.203309  0.049507  -0.081341  1.015021   0.380252
14137    25140.0   1.174599 -0.642391   0.257692 -0.609520  -0.488060
43884    41689.0   0.018342 -1.969047   0.648874  1.438515  -1.528015
160762  113616.0   1.956079  0.192020  -1.609264  1.411287   0.489526
...          ...        ...       ...        ...       ...        ...
33290    37173.0   1.486577 -1.132154   0.704453 -1.510585  -1.633562
58071    48218.0  -1.320233 -0.331572   2.374766 -0.324685   0.165384
223618  143456.0  -2.006582  3.676577  -5.463811  7.232058  -1.627859
43061    41353.0 -15.020981  8.075240 -16.298091  5.664820 -11.918153
21016    31415.0   1.175821 -0.671918   0.908850 -1.369060  -1.277448

              V6         V7        V8        V9  ...       V20       V21  \
100623  0.739433   3.071892 -0.483422  0.618203  ... -0.032500  0.042619
131724  0.779733  -0.130935  0.265394  0.272375  ... -0.210237 -0.139036
14137   0.162916  -0.631700  0.039217  0.111405  ...  0.103909  0.208583
43884   0.385726  -0.110527  0.141314  0.486739  ...  1.065388  0.628959
160762 -1.109303   0.771407 -0.493691  0.026377  ... -0.152100  0.085952
...          ...        ...       ...       ...  ...       ...       ...
33290  -0.296677  -1.379085  0.037313 -1.809306  ... -0.315639 -0.034687
58071   0.186654  -0.155821  0.459599  0.240319  ...  0.172447  0.039596
223618 -0.996755  -4.299833  2.268867 -3.651067  ...  0.474414  0.713907
43061  -4.246957 -14.716668  9.435084 -6.795398  ... -0.995787  2.525115
21016  -0.263481  -0.908071  0.266755  1.802417  ... -0.172768  0.194035

             V22       V23       V24       V25       V26       V27       V28  \
100623  0.397224  0.072229 -0.242276  0.560916 -0.540955  0.150606 -0.117140
131724 -0.244802 -0.206490 -1.170319  0.752610 -0.253682  0.027695 -0.008407
14137   0.674681 -0.110788 -0.296716  0.407323 -0.120584 -0.015455 -0.001530
43884   0.493508 -0.630339  0.020436  0.150511 -0.311175 -0.041026  0.130130
160762  0.446693 -0.048872  0.025193  0.482308 -0.497308 -0.014456 -0.052980
...          ...       ...       ...       ...       ...       ...       ...
33290   0.282211 -0.047707  0.003513  0.350612 -0.099895  0.047386  0.012827
58071  -0.182224 -0.082202 -0.363608  0.335628  0.264436 -0.024014  0.065466
223618 -0.063868  0.167947 -0.449864  0.023702  0.536905  0.485864 -0.042393
43061  -0.832074 -0.186117  0.429781  0.697103  0.056031 -1.310888 -0.707403
21016   0.788083 -0.049057  0.286654  0.326141  0.116870  0.052989  0.009508

        Amount
100623  549.06
131724    8.28
14137    75.65
43884   590.29
160762   46.60
...        ...
33290     8.20
58071    74.99
223618    1.00
43061    34.12
21016     1.00

[787 rows x 30 columns]

In [77]:
print(Y_train)

100623    1
131724    0
14137     0
43884     0
160762    0
         ..
33290     0
58071     0
223618    1
43061     1
21016     0
Name: Class, Length: 787, dtype: int64

In [78]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9453621346886912

In [79]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [80]:
print(X_test)

            Time         V1         V2         V3         V4         V5  \
247995  153761.0   1.146259   1.403458  -4.159148   2.660107  -0.323217
163730  116172.0   2.249247  -0.926558  -1.684268  -1.013349  -0.241614
36072    38383.0  -0.884107   0.178695   2.903466   0.307240  -0.150170
273022  165382.0   0.033025   0.887661   0.299828  -0.596089   0.476356
15451    26833.0 -20.532751  12.373989 -23.009003   6.144821 -15.587296
...          ...        ...        ...        ...        ...        ...
108258   70828.0   0.196707   1.189757   0.704882   2.891388   0.045555
12108    21046.0 -16.917468   9.669900 -23.736443  11.824990  -9.830548
99506    67150.0  -1.824295   0.403327  -1.994122   2.756558  -3.139064
74496    55614.0  -7.347955   2.397041  -7.572356   5.177819  -2.854838
188105  127818.0   1.980463  -0.037419  -0.750229   0.643924  -0.395186

              V6         V7         V8        V9  ...       V20       V21  \
247995 -1.836071  -1.623740   0.259562 -1.132044  ...  0.284831  0.564450
163730 -0.433201  -0.545601  -0.066951  0.071564  ... -0.160422 -0.104222
36072   0.897249  -0.041786  -0.027966  0.176543  ...  0.115683  0.222746
273022 -1.027343   1.035085  -0.209224 -0.118531  ... -0.011134 -0.248270
15451  -4.384491 -15.939003  13.696416 -3.948455  ...  1.592754  1.754608
...          ...        ...        ...       ...  ...       ...       ...
108258  1.245730  -1.198714  -2.421616 -1.232089  ...  0.646616 -1.328132
12108  -2.514829 -17.290657   1.820408 -6.264903  ...  0.996745 -2.336111
99506   0.408185  -1.209045   1.095634 -1.447225  ...  1.503688  0.838760
74496  -1.795239  -8.783235   0.437157 -3.740598  ...  0.073164 -0.175273
188105 -0.790098  -0.434401  -0.135851  1.169026  ... -0.136818  0.226546

             V22       V23       V24       V25       V26       V27       V28  \
247995  0.445744 -0.141136 -0.265517  0.362260 -0.416062  0.507370  0.243744
163730 -0.387139  0.210176 -0.039199 -0.060702 -0.307186 -0.051007 -0.065762
36072   1.048570 -0.266653 -0.260840 -0.117303  0.614418 -0.442084 -0.385589
273022 -0.508874  0.074277 -0.007279 -0.487586  0.141773  0.252927  0.097995
15451  -1.466115 -0.856779  0.125777  1.402587 -0.223755  1.574249  0.469201
...          ...       ...       ...       ...       ...       ...       ...
108258  0.189311 -0.005524 -0.814708  0.400924  0.286281  0.135215  0.257315
12108   0.972755  1.241866 -1.051086  0.038009  0.672317  2.108471 -1.421243
99506   0.341727  0.947506 -0.145493  0.049326  0.831065  0.332421  0.252713
74496   0.543325 -0.547955 -0.503722 -0.310933 -0.163986  1.197895  0.378187
188105  0.980085  0.052810 -0.055273 -0.008708 -0.138720  0.062941 -0.010800

        Amount
247995   51.37
163730   16.00
36072    31.60
273022    4.67
15451    99.99
...        ...
108258    0.76
12108     1.00
99506   489.71
74496     0.83
188105    2.49

[197 rows x 30 columns]

In [81]:
print(Y_test)

247995    1
163730    0
36072     0
273022    0
15451     1
         ..
108258    1
12108     1
99506     1
74496     1
188105    0
Name: Class, Length: 197, dtype: int64

In [82]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9086294416243654